@model Course

<h2>Enroll in @Model.Title</h2>

<p><strong>Teacher:</strong> @Model.Teacher.FirstName</p>

<p><strong>Teacher:</strong> @Model.Teacher.LastName</p>

<p><strong>Remaining Capacity:</strong> @Model.Capacity</p>

<form method="post">
    <input type="hidden" name="CourseId" value="@Model.Id" />
    <button class="btn btn-success">Confirm Enrollment</button>
</form>
